@model Catalog

@{
    ViewData["Title"] = "Список категорий";
}

@foreach (var cat in Model.Catergories)
{
    <div>@cat.Id @cat.Name</div>
}

<form method="post">
    Id: <input type="text" name="id" required />
    <br/>
    Имя: <input type="text" name="name" />
    <br/>
    <input type="submit" name="submit" value="Создать" />
</form>